.outer
{  
 font-family:helvetica, arial, sans-serif;
 width:100%;
 height:120%;
  background: linear-gradient(white, #D3D8E8);
}
.header
{
 padding-leftk:50px;
 height:10%;
 width:97%;
 border:solid 1px;
 background-color:#3a5795;
 border-radius:20px;
}
a
{
text-decoration:none;
color:white;
}
a:hover
{ 
text-decoration:underline;
color:red;
}
